# ignore binary (no extension) files
*
!*.*
!*/

# ignore extra sfinder files
*/output/error.txt
*/output/last_output.txt
/src/input
/src/output

# ignore vsc related files
.vscode

# ignore extra script for creating/removing binaries created
mkbins.sh
rmbins.sh